html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    height: 100%;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}